.outer-box {
    background-color: #f7f152;
    width: 600px;
    height: 1800px;
    padding: 0 16px;
    margin: 24px 0
}

.dog1 {
    width: 450px;
    height: 300px;
    padding: 0 16px;
    margin: 24px 0;
}

.dog2 {
    width: 450px;
    height: 300px;
    padding: 0 16px;
    margin: 24px 0
}

.dog3 {
    width: 450px;
    height: 300px;
    padding: 0 16px;
    margin: 24px 0
}

.dog4 {
    width: 450px;
    height: 300px;
     padding: 0 16px;
    margin: 24px 0
}

.dog5 {
    width: 450px;
    height: 300px;
     padding: 0 16px;
    margin: 24px 0
}