body {
    background-color:azure
    
}

p {
    font-family: "Momo Signature", cursive;
    font-weight: 400;
    font-style: normal;
}

.type1 { 
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style:normal;
    font-size:xx-large;
    text-align: center;
    line-height: 2
}

.type2 .condiment-regular {
  font-family: "Condiment", cursive;
  font-weight: bold;
  font-style: normal;

}

.type3 {
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

    
.type4 {
    font-family: "Bitcount Grid Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.type5 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.type6 {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
}

.type7 {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}

.type8 {
  font-family: "Caesar Dressing", system-ui;
  font-weight: 400;
  font-style: normal;
}

.type9 {
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.type10 {
    letter-spacing: 2px;
    text-align: center
}